.quadrado {
    position: absolute;
    width: 900px;
    height: 850px;
    top: 100px; /* Move o quadrado 100 pixels a partir do topo */
    left: 150px; /* Move o quadrado 250 pixels a partir da esquerda */
    transform: translate(85%, 0%);
    display: grid;
    place-items: center; /* Centraliza o conteúdo horizontal e verticalmente */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    border: 3px solid #175b9c;
      
}

.quadrado::-webkit-scrollbar {
    width: 12px; /* Largura da barra vertical */
    height: 12px; /* Altura da barra horizontal */
}


